@font-face {
    font-family: "MazzardH";
    src: url("fonts/MazzardH-Bold.otf");
}
@font-face {
    font-family: "MazzardH-Regular";
    src: url("fonts/MazzardH-Regular.otf");
}

html,
body {
    scroll-behavior: smooth;
    font-family: "MazzardH";
    font-size: 16pt;
    height: 100%;
}
.visible {
    display: none;
}
.bigServices{
    background: #ffffff;
}
.videoDiv{
    height:300px;
}
.navbar-inverse{
    border:none;
}
.navigaonusing{
    padding-top: 10px;
    width: 100%;
}

.gaonutosal {
    float: left;
    width: 100%;
    /*padding: 0 1em;*/
    overflow-x: hidden;
}

.pesontedan {
    justify-content: left;
    /*margin-bottom: 1px;*/
    overflow: hidden;
}

.pesontedan input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.pesontedan label {
    color: #007cff;
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    line-height:3;
    cursor: pointer;
    font-size: 18pt;
    border: 1px solid #e7e7e7;
}

.pesontedan-content{
    overflow-y: scroll;
    max-height: 0;
    transition: max-height 1s;
    font-size: 14px;
}


.pesontedan-content p {
    font-size: 18pt;
    margin: 1em;
}
/* :checked */
.pesontedan input:checked ~ .pesontedan-content {
    max-height: 100vh;
}

/* Icon */
.pesontedan label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.pesontedan input[type=checkbox] + label::after {
    content: "+";
}
.pesontedan input[type=radio] + label::after {
    content: "\25BC";
}
.pesontedan input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.pesontedan input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

.pre-nav{
    font-family: "MazzardH-Regular";
    font-size: 10pt;
    height: auto;
    width: 100%;
    background-color: #014a73;
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
}
.flexBox{
    font-family: "MazzardH-Regular";
    font-size: 10pt;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
}
.pre-nav-bottom{
    font-family: "MazzardH-Regular";
    font-size: 10pt;
    height: 150px;
    width: 100%;
    background-color: #014a73;
    display: none;
}

.flex-nav{
    align-content: center;
    margin: auto;
}

.flex-nav img{
    width: auto;
}
.image img{
    width: 400px;
}
.process{
    height: auto;
}

.process img {
    width: 100%;
}
.infoImg img{
    width: 50%;
}
.site-landing{
    margin-bottom: 30px;
}

.half-div{
    height:50vh;
}

.full-div{
    height:100vh;
}
.owl{
    margin: 0;
    padding: 0;
}

.FAQ-body{
    font-family: "MazzardH-Regular";
    font-size: 18pt;
    height:auto;
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url("/web/img/layouts/FAQbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Reasons-body{
    font-family: "MazzardH-Regular";
    margin-top: 0px;
    font-size: 18pt;
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url("/web/img/layouts/Reasons-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-body{
    font-family: "MazzardH-Regular";
    font-size: 18pt;
}

.header-icons{
    align-content: center;
    color: white;
    float: left;
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-right: 30px;
}


.header-icons > p{
    margin-top: 5px;
}
/*.wrap {*/
/*    min-height: 100%;*/
/*}*/

.services{
    font-family: "MazzardH-Regular";
    text-align: center;

}
.services p{
    margin-bottom: 35px;
}

.services h4{
    font-family: "MazzardH";
}

.navbar{
    font-family: "MazzardH-Regular";
    font-size: 14pt;
    width: 100%;
    background-color: #007cff;
}

.phoneNav, .prePhoneNav{
    display: none;
}

.nav{
    padding-top:2px;
    border-radius:0;
    margin-bottom: auto;

}
.nav ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-bottom: -1.4em;
}
.nav ul:after {
    display: inline-block;
    width: 100%;
}
.nav li {
    height: 100%;
    display: inline-block;
}
.navbar-toggle{
    background-color: #1b1e21;
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color: #014a73;
}
.nav .active{
    background-color: #014a73;
}

/*.wrap > .container {*/
/*    padding: 70px 15px 20px;*/
/*}*/

.content{
    width: 100%;
    height: auto;
    padding-bottom: 25px;
}

.min-height-500{
    min-height: 500px;
}

.white{
    background-color: #ffffff ;
}

.gray{
    background-color: #ebebeb;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-div {
    margin-top: 11px;
    margin-right: 80px;
    flex: 1;
}

.pre-footer{
    align-content: center;
    padding-top: 70px;
    color: white;
    height: 400px;
    width: auto;
    background-image: url("/web/img/layouts/weBuy2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pre-footer h2 {
    font-size: 32pt;
}

.pre-footer p {
    word-spacing: 40px;
    /*font-size: xx-large;*/
}

.icon-menu{
    margin: 15px;
    float:left;
    width: auto;
    height: auto;
}

.index-middle{
    height: 400px;
    background-image: url("/web/img/index/middle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-bottom{
    height: 400px;
    background-image: url("/web/img/index/bottom.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer {
    height: auto;
    width: auto;
    background-color: #014a73;
    padding-top: 20px;
    margin: 0;
}
.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.footer-form input{
    width: 600px;
}

.footer-form textarea{
    width: 600px;
    height: 100px;
}

.footer-form h2 {
    font-size: 25pt;
    color: white;
    margin-bottom: 35px;
}
.send-btn{
    width:375px;
    font-family: "MazzardH";
    color: white;
    background-color: #007cff;
    font-size: 16pt;
    Border-radius:60px;
}

.homeBtn{
    width: 375px;
    height: 45px;
}

.footer-form .btn {
    margin-top: 15px;
    font-family: "MazzardH-Regular";
    color: white;
    background-color: #007cff;
    font-size: 18pt;
    width: 275px;
    height: 45px;
    Border-radius:60px;
}

.rights{
    font-family: "MazzardH-Regular";
    font-size: 12pt;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-form div {
    width: auto;
    height: auto;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.navbar-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.fb{
    display: inline-block;
    font-family: "MazzardH";
    color: white;
    background-color: #007cff;
    font-size: 10pt;
    width: 75px;
    height: 25px;
    Border-radius: 60px;
    margin-right:5px;
}

.tw{    
    display: inline-block;
    font-family: "MazzardH";
    color: white;
    background-color: #1da1f2;
    font-size: 10pt;
    width: 75px;
    height: 25px;
    Border-radius: 60px;
}


@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

    .nav {
        display: none;
    }
    .prePhoneNav{
        display: block;
        position: sticky;
        z-index: 1999;
        top: 0px;
    }
    .phoneNav{
        display: inline-table;
    }
    
    .bigServices{
        background:#ebebeb;
    }
    
    .smallServices{
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        background: #ffffff;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

hr {
    margin: 22px 0;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btn {
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    border-radius: 10em;
    border: 0;
    color: #fff!important;
    margin: 6px;
    white-space: normal!important;
    word-wrap: break-word;
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.btn {
    -webkit-transition: box-shadow .2s ease-out;
    -moz-transition: box-shadow .2s ease-out;
    -ms-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
}
.btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.btn-primary {
    border: 2px solid #2BBBAD;
    color: #00695c!important;
    background-color: transparent;
}

.btn-secondary {
    border: 2px solid #00C851;
    color: #007E33!important;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {

    .footer-form input{
        width: 300px;
    }

    .footer-form textarea{
        width: 300px;
    }

    img {
        max-width: 100%;
    }

    body{
        overflow-x: hidden;
    }

    h2{
        font-size: 15pt;
    }
    p,li{
        font-size: 10pt;
    }

    /*.nav{*/
    /*    display: none;*/
    /*}*/

    .pre-nav-bottom {
        padding-left: 30px;
        display: flex;
        margin-top: -50px;
    }

    .smallWidth img{
        width: 70px;
    }

    .pesontedan label, .pesontedan-content{
        font-size: 12pt;
    }
    .pesontedan-content p {
        font-size: 12pt;
    }
    .pesontedan label {
    line-height:1.8;
    }


    .pesontedan input[type=checkbox] + label::after {
        content: "";
    }

    .icon-menu{
        margin-right: 10px;
    }
    
    .icon-menu img{
        width: 40px;
        height: 40px;
    }

    .flex-nav img{
        width: 100px;
    }

    .header-icons img{
        width: 40px;
        height: 40px;
    }
    
    .content{
    padding-bottom: 20px;
    }

    .homeBtn{
        width: auto;
        height: 45px;
    }
    .smallBtn{
        width: 90px;
        height: 50px;
        font-size: 10pt;
    }
    .navBtn{
        width:150px;
        font-size: 10pt;
    }
    .index-bottom, .index-middle {
        height: 200px;
        background-size: contain;
    }

    .videoDiv{
        height:auto;
    }

    .infoImg img{
        margin-top:5px;
        width: 90%;
    }
    .Reasons-body{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .FAQ-body{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
